<div style="padding:0 5%">
  <h3 class="f-14">心率值参考</h3>
  <p class="f-12">静息心率是在身体处于静止状态时测量，旨在反映心脏总体健康水平的重要指标之一。
    每个人的数值取决于年龄、健康状况和遗传基因等因素，各有差异，并没有“正常值”。
  </p>
  <div class="card column">
    <div class="flex-sa f-12">
      <span>97</span>
      <span>135</span>
      <span>164</span>
    </div>
    <div class="flex-sa middle">
      <% for(var i = 0; i < 44; i++){ %>
        <i class="line" style="background:rgb(255, {{223-4*i}}, 110)"></i>
      <% } %>
    </div>
    <div class="flex-sb f-12">
      <span>未运动</span>
      <span>轻微运动</span>
      <span>中度运动</span>
      <span>激烈运动</span>
    </div>
  </div>
</div>