@import "_setting.less";
@import "_atom.less";

html {
  font-size: 14px;
}

body {
  color: @color-font-default;
  background: @color-background-global;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 30px;
}

.flex1 {
  .item {
    position: relative;
    flex: 1;
    text-align: center;
    &+.item:before {
      position: absolute;
      content: '';
      display: flex;
      width: 2px;
      height: 40%;
      top: 30%;
      background: #eee;
    }
    p {
      line-height: .8;
      font-weight: 600;
    }
    .data {
      color: @color-font-data;
      font-size: 18px;
    }
  }
}

.sb {
  justify-content: space-between;
  padding: 0 25px;
}

.column {
  flex-direction: column;
  padding: 16px 25px;
}

.chart {
  &-line { width: 100%; height:130px; }
  &-pie { width: 100%; height:220px; }
  &-bar { width: 100%; height:230px; }
}

.card {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  background-color: @color-background-card;
  width: 90vw;
  margin: 10px auto 16px;
  border-radius: 6px;
  box-shadow: 0 0 10px 6px #eee;
  min-height: 66px;
  .middle {
    padding: 6px 15px;
    .line {
      padding: 16px 2px;
      border-radius: 2px;
      background: #f00;
    }
  }
}

.intro {
  display: flex;
  width: 85vw;
  .item {
    flex: 1;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    border-radius: 1px;
    span {
      display: block;
      transform: scale(0.8);
    }
    &+.item {
      margin-left: 5px;
    }
    &:nth-child(1) { background: #d8d8d8; }
    &:nth-child(2) { background: #4098e2; }
    &:nth-child(3) { background: #00d977; }
    &:nth-child(4) { background: #fbb900; }
    &:nth-child(5) { background: #ed682f; }
    &:nth-child(6) { background: #df1d5f; }
  }
}
