@import "_setting.less";
/**
  最好全部移至common.less 以利用缓存
**/

.tab {
  display: flex;
  justify-content: center;
  background: #fff;
  height: 34px;
  .item {
    position: relative;
    width: 20%;
    text-align: center;
    margin-top: 10px;
    transition: all .3s;
    &:after {
      position: absolute;
      z-index: 1;
      content: '';
      display: block;
      width: 100%;
      height: 60px;
      // background: #f00;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    &+.item {
      border-left: 2px solid #eee;
    }
    &.active {
      color: @color-theme;
      font-weight: bold;
      width: 26%;
      font-size: 16px;
    }
  }
}
.highcharts-tooltip>span>span {
  color: #fff !important;
}
.highcharts-tooltip-box>span>span {
  color: #fff !important;
}
.highcharts-legend-item>text {
  fill: #485b6d !important;
}
